---
import LegalArticle from '../components/LegalArticle.astro';
import Layout from '../layouts/Layout.astro';
import SiteChrome from '../components/SiteChrome.astro';
---

<Layout>
	<SiteChrome>
		<LegalArticle eyebrow="Rechtliches" title="Impressum">
			<p>
				Betreiber der Website <a href="http://www.oldtimermanufaktur.de/">www.oldtimermanufaktur.de</a>
			</p>

			<p><strong>DIE OLDTIMERMANUFAKTUR GmbH</strong></p>

			<p>Geschäftsführer: Mario Schrank</p>

			<p>
				<strong>Kreuzweg 11a</strong><br />
				<strong>D-36452 Kaltennordheim - Fischbach i.d. Rhön</strong><br />
				Tel. (0049) 036 966 / 83 7 83<br />
				E-Mail: <a href="mailto:info@oldtimermanufaktur.de">info@oldtimermanufaktur.de</a><br />
				Handelsregister Jena HRB 500477<br />
				UST-Ident.-Nr.: DE 814808272
			</p>

			<p>
				Der Name <strong>„OLDTIMERMANUFAKTUR<sup>®</sup>”</strong> ist eine durch uns sowohl beim Deutschen- als auch beim Europäischen Marken- und Patentamt eingetragene&nbsp;geschützte Marke.
			</p>

			<p>
				Haftung: Die Beiträge und Inhalte auf <a href="http://www.oldtimermanufaktur.de/">www.oldtimermanufaktur.de</a> wurden mit Sorgfalt recherchiert. Dennoch wird eine Haftung ausgeschlossen.
			</p>

			<p>
				Rechtshinweise: Sämtliche Inhalte des Internetauftrittes <a href="http://www.oldtimermanufaktur.de/">www.oldtimermanufaktur.de</a> sind nach dem Urheberrecht geschützt. Die Verwendung von Inhalten bedarf der vorherigen schriftlichen Genehmigung durch den Betreiber. Zuwiderhandlungen werden rechtlich verfolgt.
			</p>
		</LegalArticle>
	</SiteChrome>
</Layout>
